@media screen and (min-width:100px){
    .styling-logo{
        height:50px;
        width:50px;
        object-fit: contain;
    }
    .header-container{
      
       
        display: flex;
        justify-content: space-between;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
       position: sticky;
       
        
          
    }
    .header-main-container{
        background-color: #ffffff;
        min-height: 70px; 
        width: 100%;
        position: fixed;
        top: 0px;
        
    }
    .styling-icon{
        height:30px; 
        width:30px;
        margin-right: 10px;
    }
    .logout-container{
        display: flex;
        margin-top: 10px;
        padding-right: 10px;
    }
   
    .styling-input{
        border-style:solid;
        outline: none;
        cursor:pointer;
        padding:3px;
        margin-top: 20px;
        width: 200px;
    }
    .remove-search{
        display: none;
    }
    .search-container{
        margin-right: 20px;
        display: none;
    }
    .styling-search-icon{
        height:25px; 
        width:30px;
        margin-right: 10px;
        margin-top: 3px;
    }
    .search-container-bottom{
        justify-content: center;
        padding:10px;
    }
    .show-search{
        display: flex;
    }
   
}
@media screen and (min-width:577px){
    .search-container{
        display: block;
    }
    .styling-search-icon{
        display: none;
    }
    .search-container-bottom{
        display: none;
    }
}

@media screen and (min-width:768px){
    .styling-logo{
        height:40px;
        width:40px;
        margin-left: 10px;
        object-fit: contain;
    }
   
    .header-container{
      
       
        display: flex;
        justify-content: space-between;
        padding: 10px;
       
        
          
    }
    .header-main-container{
        background-color: #ffffff;
        min-height: 70px; 
        width: 100%;
        position: fixed;
        top: 0px;
    }
   
    .styling-icon{
        height:25px;
        width:25px;
        margin-right: 10px;
        margin-top: 5px;
    }
    .logout-container{
        display: flex;
        margin-top: 10px;
        margin-right: 20px;
    }
  
    .styling-input{
        border-style:solid;
        outline: none;
        cursor:pointer;
        padding:3px;
        margin-top: 20px;
        width: 250px;
    }
}

.remove-search{
    display: none;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .dashboard-container{
  
    background-color: whitesmoke;
    padding-bottom: 30%;
  
  }
  @media screen and (min-width:768px){
    .dashboard-container{
        display: block;
        min-height:80vh;
        background-color: white;
        padding: 10px;
        padding-left: 0px;
        background-color: whitesmoke;
  
    }
  }
  
  .main-content{
      
    padding: 10px;
     background-color: whitesmoke;
     width:100%;
  }
  
  .header-down{
     display: block;
     margin-bottom: 90px;
     background-color: whitesmoke;
     border-radius: 10px;
     width: 100%;
     min-height: 100vh;
  }
  
  
  
  
  @media screen and (min-width:768px){
  
     .header-down{
  
         display: flex;
         margin-top: 0px;
  
         }
  
     .main-content{
     
         padding: 10px;
         margin-left: 150px;
         margin-top: 50px;
         margin-right: 30px;
         width: 100%;
     min-height: 90vh;
     background-color: whitesmoke;
     border-radius: 10px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
     
     
     }
     .home-container{
         background-color: whitesmoke;
         height:100vh;
     }
  }
  
  
  
  
  @media screen and (min-width:993px){
     
  
     .main-content{
     
         padding: 10px;
         margin-left: 230px;
         margin-top: 50px;
         margin-right: 30px;
         width: 100%;
     min-height: 80vh;
     background-color: whitesmoke;
     border-radius: 10px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
     
     
     }
     }