.home-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; /* Change as per your design */
    font-size: 16px;
    line-height: 1.5;
    color: #333; /* Default text color */
    background-color: #f5f5f5; /* Default background color */
    overflow-x: hidden;
}
